<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/error-page.css" />

    <title>Error - {{ .StatusCode }}</title>
  </head>
  <body>
    <main>
      <section class="error">
        <div class="error-container">
          <h2 class="status-code">{{ .StatusCode }}</h2>
          <p class="status-message">{{ .Message }}</p>
          <a href="/">Go Back Home</a>
        </div>
      </section>
    </main>
  </body>
</html>
